####### 锚点 start #######
#订阅更新和延迟测试相关
p: &p {type: http, interval: 86400, health-check: {enable: true, url: "https://www.gstatic.com/generate_204", interval: 300}, proxy: DIRECT, override: {udp: true, xudp: true, down: "100 Mbps", up: "100 Mbps", tfo: true, skip-cert-verify: true}}

# 策略组相关
pr: &pr {type: select, proxies: [节点选择, DIRECT, REJECT, REJECT-DROP, PASS, 香港自动, 台湾自动, 新加坡自动, 日本自动, 美国自动]}

#规则集相关
rule-anchor:
  ip: &ip {type: http, interval: 86400, behavior: ipcidr, format: mrs}
  domain: &domain {type: http, interval: 86400, behavior: domain, format: mrs}
  class: &class {type: http, interval: 86400, behavior: classical, format: yaml}
####### 锚点 end #######

#把复制的机场订阅粘贴到下面的 url 里
proxy-providers:
  Airport:
    url: ""
    <<: *p
#如果只是用于覆写,则只需把整个proxy-providers删除即可

mixed-port: 7890
port: 7891
socks-port: 7892
ipv6: true
allow-lan: true
bind-address: "*"
mode: rule
log-level: error
unified-delay: true
keep-alive-interval: 15
keep-alive-idle: 300
disable-keep-alive: false
tcp-concurrent: true

#以防面板出现问题,所以把面板设置注释掉了
#external-controller: 127.0.0.1:9090
#external-controller-cors:
  #allow-origins:
    #- '*'
  #allow-private-network: true
#external-ui: ui
#external-ui-name: xd
#secret: ""
#external-ui-url: "https://github.com/MetaCubeX/metacubexd/archive/refs/heads/gh-pages.zip"

find-process-mode: strict
global-client-fingerprint: chrome
global-ua: clash.meta

profile:
  store-selected: true
  store-fake-ip: true

tun:
  enable: true
  stack: mixed
  dns-hijack:
    - any:53
    - tcp://any:53
  device: mihomo
  mtu: 9000
  strict-route: true
  auto-route: true
  auto-redirect: true
  auto-detect-interface: true

dns:
  enable: true
  cache-algorithm: arc
  prefer-h3: true
  respect-rules: false #连接遵守路由规则,需要proxy-server-nameserver不为空才能生效,且不建议和"prefer-h3"同时使用
  ipv6: false
  ipv6-timeout: 300
  use-hosts: true
  use-system-hosts: true
  listen: 0.0.0.0:1053
  enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16
  fake-ip-filter:
    - "rule-set:private_domain,cn_domain"
  nameserver-policy:
    "rule-set:private_domain,cn_domain":
      - https://doh.pub/dns-query
      - https://dns.alidns.com/dns-query
      - tls://dot.pub
      - tls://dns.alidns.com
    "rule-set:geolocation-!cn":
      - https://dns.google/dns-query
      - https://cloudflare-dns.com/dns-query
      - tls://8.8.8.8
      - tls://8.8.4.4
      - tls://1.1.1.1
      - tls://1.0.0.1
  default-nameserver:
    - 223.5.5.5
    - 119.29.29.29
    - 8.8.8.8
    - 8.8.4.4
    - 1.1.1.1
    - 1.0.0.1
    - tls://223.5.5.5:853
    - tls://1.12.12.12:853
    - system
  nameserver:
    - 223.5.5.5
    - 119.29.29.29
    - 8.8.8.8
    - 8.8.4.4
    - 1.1.1.1
    - 1.0.0.1
    - tls://223.5.5.5:853
    - tls://1.12.12.12:853
    - tls://8.8.8.8
    - tls://8.8.4.4
    - tls://1.1.1.1
    - tls://1.0.0.1
    - https://doh.pub/dns-query
    - https://dns.alidns.com/dns-query
    - quic://dns.adguard.com:784
    - system
  default-nameserver-follow-policy: false
  direct-nameserver: []
  proxy-server-nameserver: []

proxy-groups:
- {name: 节点选择, type: select, proxies: [延迟优选, 香港自动, 台湾自动, 新加坡自动, 日本自动, 美国自动], include-all: true, exclude-filter: "官网|重置|到期|剩余|交流|失联|超时|重启|飞行|更新", icon: "https://fastly.jsdelivr.net/gh/Koolson/Qure@master/IconSet/Color/Rocket.png"}
- {name: 延迟优选, type: url-test, include-all: true, exclude-type: direct, tolerance: 25, exclude-filter: "官网|重置|到期|剩余|交流|失联|超时|重启|飞行|更新", icon: "https://fastly.jsdelivr.net/gh/Orz-3/mini@master/Color/Urltest.png"}
- {name: 拦截保护, <<: *pr, icon: "https://fastly.jsdelivr.net/gh/Koolson/Qure@master/IconSet/Color/Hijacking.png"}
- {name: 小黑盒, <<: *pr, icon: "https://fastly.jsdelivr.net/gh/Orz-3/mini@master/Color/heybox.png"}
- {name: GitHub, <<: *pr, icon: "https://fastly.jsdelivr.net/gh/Koolson/Qure@master/IconSet/Color/GitHub.png"}
- {name: Telegram, <<: *pr, icon: "https://fastly.jsdelivr.net/gh/Orz-3/mini@master/Color/Telegram.png"}
- {name: Steam, <<: *pr, icon: "https://fastly.jsdelivr.net/gh/Koolson/Qure@master/IconSet/Color/Steam.png"}
- {name: Google, <<: *pr, icon: "https://fastly.jsdelivr.net/gh/Koolson/Qure@master/IconSet/Color/Google_Search.png"}
- {name: Microsoft, <<: *pr, icon: "https://github.com/Vbaethon/HOMOMIX/blob/main/Icon/Color/Large/Microsoft.png?raw=true"}
- {name: 大陆直连, <<: *pr, icon: "https://fastly.jsdelivr.net/gh/Koolson/Qure@master/IconSet/Color/China_Map.png"}
- {name: GFW, <<: *pr, icon: "https://github.com/Vbaethon/HOMOMIX/blob/main/Icon/Color/Large/GFW.png?raw=true"}
- {name: 漏网之鱼, <<: *pr, icon: "https://fastly.jsdelivr.net/gh/Koolson/Qure@master/IconSet/Color/Final.png"}
#分隔  以下是地区分组
- {name: 香港自动,type: url-test, include-all: true, exclude-type: direct, filter: "(?i)(港|hk|hongkong|hong kong)", icon: "https://fastly.jsdelivr.net/gh/Koolson/Qure@master/IconSet/Color/Hong_Kong.png"}
- {name: 台湾自动, type: url-test, include-all: true, exclude-type: direct, filter: "(?i)台|tw|taiwan", icon: "https://fastly.jsdelivr.net/gh/Koolson/Qure@master/IconSet/Color/Taiwan.png"}
- {name: 新加坡自动, type: url-test, include-all: true, exclude-type: direct, filter: "(?i)(新|sg|singapore)", icon: "https://fastly.jsdelivr.net/gh/Koolson/Qure@master/IconSet/Color/Singapore.png"}
- {name: 日本自动, type: url-test, include-all: true, exclude-type: direct, filter: "(?i)日|jp|japan", icon: "https://fastly.jsdelivr.net/gh/Koolson/Qure@master/IconSet/Color/Japan.png"}
- {name: 美国自动, type: url-test, include-all: true, exclude-type: direct, filter: "(?i)美|us|unitedstates|united states", icon: "https://fastly.jsdelivr.net/gh/Koolson/Qure@master/IconSet/Color/United_States.png"}
#分隔  以下是内置策略组,不要乱动
- {name: 全局直连, type: select, proxies: [DIRECT], icon: "https://fastly.jsdelivr.net/gh/Koolson/Qure@master/IconSet/Color/Direct.png"}
- {name: 拒绝连接, type: select, proxies: [REJECT], icon: "https://fastly.jsdelivr.net/gh/Koolson/Qure@master/IconSet/Color/Reject.png"}
- {name: 静默拒绝, type: select, proxies: [REJECT-DROP], icon: "https://fastly.jsdelivr.net/gh/Koolson/Qure@master/IconSet/Color/Final_1.png"}
- {name: 绕过规则, type: select, proxies: [PASS], icon: "https://fastly.jsdelivr.net/gh/Koolson/Qure@master/IconSet/Color/Blackhole.png"}
#注: 某些客户端和面板的策略组是根据GLOBAL内的节点选项(proxies)来进行排序的,
#由于我对GLOBAL进行了修改,所以在添加/删除其他策略组的同时,
#还要对GLOBAL内的节点选项(proxies)也进行修改和排序,不然在运行时会出现乱序
- {name: GLOBAL, type: select, proxies: [节点选择, 延迟优选, 拦截保护, 小黑盒, GitHub, Telegram, Steam, Google, Microsoft, 大陆直连, GFW, 漏网之鱼, 香港自动, 台湾自动, 新加坡自动, 日本自动, 美国自动, 全局直连, 拒绝连接, 静默拒绝, 绕过规则], include-all: true, icon: "https://fastly.jsdelivr.net/gh/Koolson/Qure@master/IconSet/Color/Global.png"}

#分隔
#第一列为rule-set(引用规则集),需要配合后面的rule-providers
#第二列为rule-providers的名称
#第三列为之前策略组的名称
rules:
  - RULE-SET,private_ip,大陆直连,no-resolve
  - RULE-SET,private_domain,大陆直连
  - RULE-SET,category-httpdns-cn,大陆直连
  - RULE-SET,hijacking,拦截保护
  - RULE-SET,awavenue_ads_rule,拦截保护
  - RULE-SET,category-ads-all,拦截保护
  - RULE-SET,xiaoheihe_domain,小黑盒
  - RULE-SET,steam@cn_domain,大陆直连
  - RULE-SET,steam_domain,Steam
  - RULE-SET,github_domain,GitHub
  - RULE-SET,telegram_domain,Telegram
  - RULE-SET,google_domain,Google
  - RULE-SET,microsoft_domain,Microsoft
  
  - RULE-SET,telegram_ip,Telegram
  - RULE-SET,google_ip,Google
  - RULE-SET,cn_domain,大陆直连
  - RULE-SET,cn_ip,大陆直连
  - RULE-SET,geolocation-!cn,GFW
  - MATCH,漏网之鱼

#分隔  以下的rule-providers与上方的rules配合使用
rule-providers:
#Domain(域名类)
  github_domain: { <<: *domain, url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/github.mrs"}
  google_domain: { <<: *domain, url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/google.mrs"}
  microsoft_domain: { <<: *domain, url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/microsoft.mrs"}
  steam_domain: { <<: *domain, url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/steam.mrs"}
  steam@cn_domain: { <<: *domain, url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/steam@cn.mrs"}
  telegram_domain: { <<: *domain, url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/telegram.mrs"}
  xiaoheihe_domain: { <<: *domain, url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/xiaoheihe.mrs"}
  category-ads-all: { <<: *domain, url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/category-ads-all.mrs"}
  category-httpdns-cn: { <<: *domain, url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/category-httpdns-cn.mrs"}
  geolocation-!cn: { <<: *domain, url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/geolocation-!cn.mrs"}
  private_domain: { <<: *domain, url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/private.mrs"}
  cn_domain: { <<: *domain, url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo-lite/geosite/cn.mrs"}
#IP(ip类)
  google_ip: { <<: *ip, url: "https://github.com/MetaCubeX/meta-rules-dat/raw/refs/heads/meta/geo/geoip/google.mrs"}
  telegram_ip: { <<: *ip, url: "https://github.com/MetaCubeX/meta-rules-dat/raw/refs/heads/meta/geo/geoip/telegram.mrs"}
  private_ip: {<<: *ip, url: "https://github.com/MetaCubeX/meta-rules-dat/raw/refs/heads/meta/geo/geoip/private.mrs"}
  cn_ip: { <<: *ip, url: "https://github.com/MetaCubeX/meta-rules-dat/raw/refs/heads/meta/geo-lite/geoip/cn.mrs"}
#Class(可同时包含域名和ip)
  awavenue_ads_rule: { <<: *class, url: "https://raw.githubusercontent.com/TG-Twilight/AWAvenue-Ads-Rule/main/Filters/AWAvenue-Ads-Rule-Clash-Classical.yaml"}
  hijacking: { <<: *class, url: "https://github.com/blackmatrix7/ios_rule_script/raw/refs/heads/master/rule/Clash/Hijacking/Hijacking_No_Resolve.yaml"}
